*
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

body 
{
background-image: linear-gradient(to bottom right, rgb(62, 62, 60), 80%, rgb(131, 131, 125));
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Arial, Helvetica, sans-serif;
margin:0;
}

ul 
{
list-style-type: none;
padding: 0;
overflow: hidden;
border-bottom: 6px solid rgb(42, 42, 42);
border-bottom-left-radius: 10px;
background-image: linear-gradient(to right, steelblue ,rgb(19, 57, 139));            
position: -webkit-sticky;
position: sticky;
transition-duration: all 0.5s ease-in-out;
top: 0;
z-index:5;
width:100%;
margin-bottom:0px;
}

li 
{
    float: left;
} 

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.5s all;
    font-size: 17px;
    z-index:5;
  }

li .option:hover, .dropbtn:hover
{   background-color:rgba(255, 255, 255, 0.288);
    text-shadow: 4px 6px 8px black;
    overflow:visible;
}

.current
{
   background-color:rgb(42, 42, 42);
   margin-left:0px;
}

nav{
    position: -webkit-sticky;
    position: sticky;}

    .icon{
        position:relative;
        top:5px;
        width:30px;
        height:35px;
    }

  #arr{
    position: relative;
    right: 1px;
    top: 5px;
    width:20px;
    height:20px;
  }
  .down {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  .up {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
  }

  #drop-log-sign{
      float:right;
      margin-right:0px;
      display:none;
      position:sticky;
      top:4.7rem;
      border-bottom: none;
      margin-top:0px;
      margin-bottom:0px;
      z-index:4;
    }

  #drop-log-sign > div{
    width:100%;
  }

  .dropdown-content
{                
    display: none;                      
}


.dropMenu:hover .dropdown-content 
{
    display: inline;              
}

.smallerScreen
{
    display:none;
    background-image: linear-gradient(to right, steelblue ,rgba(11, 34, 85, 0.932)); 
    margin-right: 0px;
}

.line
{
    width:20px;
    height:3px;
    background-color:white;
    margin-bottom: 3px;
    float: center;
}

@media all and (max-width: 900px)
{  
    .smallerScreen
    {
    display:block;
    z-index:5;
    }

    #drop-log-sign
    {
        display:none;
    }

    .largerScreen
    {
        display: none;
    }
}

form{
    text-align:center;
    color:rgb(253, 253, 252);
    font-weight:200px;
    margin-top:20px;
    margin-bottom:20px;
  }

.formtitle{
    margin-left:43%;
    margin-right:auto;
    width: 200px;
    color:white;
    text-shadow: 4px 6px 10px black;
}

.field{
    width:300px;
    margin-top:15px;
    margin-bottom:15px;
    height:40px;
    font-size: medium;
    margin-top:4px;
  }

  form label
  {
    font-size:large;
  }

.field:hover
{
    box-shadow: 4px 6px 8px white;
}

#ToRegister
{
    color: #07aaaf;
    font-weight: bold;
    size:large;
}

#ToRegister:hover
{
    color: yellowgreen;
}

#space
{
   display:block;
   content: "";
   height: 40px;
}

.home-content
{
  padding-top:1px;
  background-image: linear-gradient(to right, steelblue ,rgba(11, 34, 85, 0.932));
  margin-left:5%;
  padding-bottom:10px;
  padding-left:10px;
  width:85%;
  text-align: center;
  margin-top:-40px;
}

.column 
{
    padding: 10px;
    margin-right:0px;
    margin-left:10px;  
}

.row { 
    display:grid;
    grid-template-columns: 48% 48% ;
    grid-column-gap: 10px;
    pointer-events: none;
    z-index:0;
    margin-right:-20px;
}

.row > *{
    pointer-events: auto;
    transition-duration: 0.5s;    
    background-color: rgb(255, 244, 179);
    margin-bottom: 10px;
  }

.row:hover > *{
    opacity: 0.85;
  }

.row:hover > *:hover {
    opacity: 1;
    box-shadow: 4px 4px 5px 5px rgb(42, 42, 42);
    background-color: rgb(255, 244, 179);
    cursor: pointer;
  }

.post {
    height: 400px;
    padding: 0px 8px 10px 40px;
    font-family:cursive;
    margin-top:0px;
    white-space: pre-wrap;
    word-break: break-all;
}

.post > h4, p
{
    position: relative;
    top: -50px;
    text-align: justify;
}


@media screen and (max-width: 900px)
{
    .row {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }
}

#create{
    display: block;
    position:relative;
    border-radius: 5px;
    float:right;
    width: 120px;
    height: 80px;
    padding: 15px 32px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-right: 20%;
    top: -300px;
    }
 
 #create:hover
 {
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    font-size: 30px;
    padding: 0;  
    background-color: white;
    box-shadow: 7px 4px 5px 5px white;
    transition: all 0.3s ease-out;    
    cursor: pointer;
 }

 #postBox::-webkit-scrollbar-thumb {
    background-color: rgb(24, 148, 80);
    outline: 1px solid slategrey;
  }

 #postBox:focus
 {
    background-color:rgb(226, 226, 128);
    transition: all 0.3s ease-out;
 }

  textarea
  {
      font-size:large;
      font-family:'Times New Roman', Times, serif;
      resize:none;
  }

 @media screen and (max-width: 900px)
{
   .write{
       text-align:left
    }
}

 .read{
    font-family:cursive;
    color:black;
    font-size: 22px;
    text-align: left;
    display: block;
    margin-left: 90px;
    margin-right: auto;
    width: 70%;
    position: relative;
    right: -100px;
    top:-100px;
    white-space: pre-wrap;
 }

 .read > h2
 {
    position:relative;
    bottom: -50px;
    left:-150px;
 }

 .readPost
 {
    background-color: rgb(255, 244, 179);
  }

 .readPost > p
 {
    text-align:justify;
    text-justify:inter-word;
 }

    .editDel {
      width:fit-content;
      margin-left:10px;
      margin-top:-40px;
      position: -webkit-sticky;
      position:sticky;
      top:4.5rem;
      z-index:5;
    }

    #edit
    {
       margin-left:0;
       padding:4px 20px;
       
    }
  
   @media screen and (max-width: 900px)
   {
       .readPost {
          width: 100%;
          margin-left:2px;
          margin-right:2px;
          display: block;
       }
   
       .read{
           display: block;
           font-size: 15px;
           margin-left:2px;
           margin-right:2px;
       }
   
       .read > h2
       {
           left:-50px;
       }

       .editDel{display:none} 
       
      }
   
   
    #overlay, #logoverlay, #signoverlay, #erroroverlay{
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      font-size:30px;
      text-align: center;
      bottom: 0;
      background-color: rgba(46, 53, 110, 0.062);
      z-index: 10;
      cursor: pointer;
      }

    #request
    {  
    display:inline;
    width:50px;
    height:30px; 
    left:300px;
    }

    .button
    {   
        color:white;
        display:inline-block;
        font-size:large;
        height:50px;
        background-color: rgb(42, 42, 42);
        border: 4px solid steelblue;
        border-radius: 5px;
        margin-bottom:10px;
    }

    .button:hover{
        transform: scale(1.1);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.467);
        transition: all 0.3s ease-in-out;
        background-color: yellowgreen;
        cursor: pointer; 
    }

    .submit{
      padding-right:50px;
      padding-left:50px;
    }

    #box
    {
    padding: 70px 0;
    border: 6px solid rgb(42, 42, 42);
    background-color:rgb(165, 165, 165);
    border-radius:10px;
    width: 70%;
    margin-right:auto;
    margin-left:auto;
    margin-top:100px;
    margin-bottom:10px;
    padding-bottom:5px;
    height:50%;
    overflow:visible;
    }

    #mess
    {   
      width: fit-content;
      margin-right:auto;
      margin-left:auto;
      margin-bottom:30px;
    }

    .item
    {
        width: -moz-fit-content;
        width: fit-content;
    }

    .post h4{
        padding-bottom:0;
        margin-bottom:-15px;           
    }

    .success {
        position:absolute;
        transform: translateY(-85px);
        width:92%;
        border-bottom-right-radius: 20px;
        background-color: #ddffdd00;
        color:rgba(0, 0, 0, 0);
        z-index:-1;
        border-left: 0px solid #04aa6d00;
        margin-bottom: 15px;
        margin-left: 7px;
        max-height: 30px;
        padding: 40px 0;        
        margin-top:-40px;
        text-align: center;
        animation-name:slideDown;
        animation-duration:5s;
        animation-timing-function: linear;
    }

    @keyframes slideDown{
        
        35%{transform: translateY(0px);
            background-color: #ddffdd;
            color:rgba(0, 0, 0, 0.705);
            border-left: 10px solid #04aa6dc4;
            z-index:4}
        65%{transform: translateY(0px);
            background-color: #ddffdd;
            color:rgb(0, 0, 0);
            border-left: 10px solid #04aa6d;}
        100%{transform: translateY(-85px);
            background-color: #ddffdd00;
            color:rgba(0, 0, 0, 0);
            border-left: 0px solid #04aa6d00;
            z-index:-1;}
    }

    .profile {
        display: grid;
        grid-template-columns: 20% 70%;
        padding: 10px;
        margin-right:10%;
      }

      .postcontainer{
        display: grid;
        grid-template-columns: 100% ;
        gap:10px;
        margin-left:20%;
      }
      
      .ownposts,
      .profileinfo {
        padding: 5px;
        background-color: rgb(255, 244, 179);
        margin-bottom: 5px;
        color:black;
        overflow:visible;
        height: auto;
      }      

      .ownposts:hover{
        transition-duration: 0.5s; 
        box-shadow: 4px 4px 5px 3px rgb(42, 42, 42);
        cursor: pointer;
      }
      
      .ownposts {
        padding: 0px 8px 10px 40px;
        font-family:cursive;
        padding-top: 0;
        margin-top:0;
        white-space: pre-wrap;    
      }
      
      .profileinfo {
        width: 30%;
        height:fit-content;
        min-width: 300px;
        margin-top:80px;
        padding-top:100px;
        padding-bottom:10px;
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
    }

      .profileinfo > p{
        display: block;
        text-align: center;
        }

      #rmv_account{
        color: black;
        padding-right:5px;
        border-bottom: 2px solid rgb(42, 42, 42);
        border-right:2px solid rgb(42, 42, 42);
      }

      #rmv_account:hover
      {
        border-color: orangered;
        color:orangered;
      }

      @media screen and (max-width: 800px)
    {        
        .profile {
        width: 100%;
        display: inline-block;
        transition-duration:0s;
        transform: translateY(-200px);
        }

        .postcontainer{
            display:inline-block;
            width:100%;
            margin-top:100px;
            margin-right:auto;
            margin-left:auto;
        }

        .ownposts:hover{
            color:blue;
            transform: scale(1);
          }
        
        #userposts{
            display:none;
        }

        .ownposts,
        .profileinfo {
            width: 100%;
            transition-duration:0s;
            background-color: #fff4e3;
        }

        .profileinfo{
            position: relative;
            z-index:0;            
        }

        #box{
          height:fit-content;
          width:98%;
        }
    }
    
    .tooltiptext {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;     
        position: absolute;
        z-index: 1;
      }
      
      a:hover > .member > .tooltiptext {
        visibility: visible;
    }

    .community {
        background-image: linear-gradient(to top, steelblue 70%,rgb(19, 57, 139));
        border: 6px solid rgb(42, 42, 42);
        border-radius:5px;
        margin-right:100px;
        margin-left:100px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-evenly;
        padding: 10px;
        z-index:-1;
      }

      #admin{
        background-image: url("../static/icons/admin.png");
        
      }

      #active {
        background-image: url("\\static\\icons\\active.png");
      }

      #inactive{
        background-image: url("\\static\\icons\\inactive.png");
      }

      .member {
        background-size:contain;
        background-repeat: no-repeat;
        padding: 50px;
        margin-bottom: 10px;
        font-size: 30px;
        border-bottom: 2px solid rgb(42, 42, 42);
        border-right: 2px solid rgb(42, 42, 42);
    }

    .member > h5{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align:center;color:white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
     
    .editbutton{
        display: block;
        padding-top: 2px;
        margin-right:20px;
        margin-left:20px;
        font-weight: bold;
        text-align:center;
        color:white;
        background-image: linear-gradient(to right, steelblue ,rgb(19, 57, 139));
        border: 3px solid rgb(42, 42, 42);
    }

    .editbutton:hover{
        transform: scale(1.05);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.795);
        transition: all 0.3s ease-in-out;
        background-image: none;
        background-color: yellowgreen;
        color:rgb(19, 57, 139);
        cursor: pointer; 
    }
    
    .role-box
    {
      border: 6px solid rgb(42, 42, 42);
      border-radius:5px;
      width:30%;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      background-image: linear-gradient(to bottom, steelblue ,rgb(19, 57, 139));
    }

    .role-option {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;  
      user-select: none;
    }
    
    .role-option input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .select {
      position: absolute;
      top: 0;
      left: 8rem;
      height: 25px;
      width: 25px;
      background-color: whitesmoke;
      border-radius: 50%;
    }

    #role-filter
    {
      position:relative;
      z-index:2;
      text-align:center;
      padding-bottom:50px;
      margin-bottom:-55px;
      border-bottom:0px;
    }

    .filter-box
    {
      border-bottom:0px;
      background-image: none;
      background-color: rgb(19, 57, 139);
    }
    
    .role-option:hover input ~ .select {
      background-color: grey;
    }

    .role-option:hover
    {
      text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.795);
    }
    
    .role-option input:checked ~ .select {
      background-color: greenyellow;
    }
    
    .select:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    .role-option input:checked ~ .select:after {
      display: block;
    }
    
    .role-option .select:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background:steelblue;
    }
    
    .pg-arr{
        border:2px solid steelblue;
        border-radius: 5px;
        padding:3px;
        text-decoration: none;
        color:white;
        background-color: rgb(42, 42, 42);
    }

    .pages
    {
        text-align:center;
        margin-right:3%;
    }

  #x{
    text-decoration: none;
    padding:0px 3px;;
    border:2px solid steelblue;
    border-radius: 5px;
    width:50px;
    text-align:center;
    color:white;
    background-color: rgb(42, 42, 42);
    float:right;
  } 

  #x:hover{
      cursor: pointer;
      background-color: rgba(42, 42, 42, 0.834);
    }

   #search {
        background-repeat: no-repeat;
        background-size:35px;
        background-position: 2px 4px;
        font-size: 14px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 2px solid steelblue;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-image: url("\\static\\icons\\search.png");
        margin-left:auto;
        margin-right:auto;
      }
      
      #search:focus ~ #found.users, #found:hover
      {
        opacity: 1;
        height:250px;
        z-index:5;
        visibility: visible;
      }

      #found {
        opacity:0;
        background-color: rgba(11, 34, 85, 0);
        min-width: 250px;
        height:0px;
        visibility: hidden;
        overflow-y: auto;
        border-left: 3px solid rgba(62, 62, 60, 0.451);
        border-bottom: 4px solid rgb(62, 62, 60);
        border-bottom-left-radius: 10px;
        border-top-right-radius: 20px;
        transition-duration: 0.8s;
        transition-property:height;        
      }

      #found > span:last-of-type
      {
        border-bottom: 3px solid rgb(62, 62, 60);
      }
      
      .users a , .users span{
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .users::-webkit-scrollbar {
        width: 13px;
      }

      .users::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px steelblue; 
        border-radius: 10px;
      }
       
      .users::-webkit-scrollbar-thumb {
        background: rgb(190, 190, 190); 
        border-radius: 10px;
        
      }

      .users::-webkit-scrollbar-thumb:hover {
        background: rgb(157, 157, 157); 
      }
      
      .filters a:hover, .filters span:hover      
      { background-color: rgba(255, 255, 255, 0.266);
        background-size: 50%;
      }

      .flash-error
      {
        text-align:center;
        color:white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        margin-right:15%;
        margin-left:15%;    
      }

      .flash-note
      {
        position:relative;
        left:5rem;
        text-align:center;
        color:white;
        margin-left:15%;
        margin-right:15%;
      }

      