*
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

body 
{
background-image: linear-gradient(to right, steelblue ,slateblue, black);
opacity: 0.6;
font-family: Arial, Helvetica, sans-serif;
}

ul 
{
list-style-type: none;
margin: 0;
margin-right: 80px;
padding: 0;
overflow: hidden;
border-bottom: 6px solid white;
border-radius: 10px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.904) ,rgba(80, 59, 218, 0));            
position: -webkit-sticky;
position: sticky;
transition-duration: all 0.5s ease-in-out;
top: 0;
}

ul:hover{
    background-image: linear-gradient(to right, rgb(78, 78, 78) ,rgb(80, 59, 218));
    z-index:5;
}

li 
{
    float: left;    
} 

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    transition: 0.5s all;
    z-index:5;
}

li .option:hover, .dropbtn:hover
{
    border: 2px solid white;
    border-radius:6px;
    background-color:yellowgreen;
    text-shadow: 4px 6px 8px brown;
    overflow:visible;
}

.dropdown-content
{                
    display: none;                      
}


.dropMenu:hover .dropdown-content 
{
    display: inline;              
}

.smallerScreen
{
    display:none;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) ,rgba(80, 59, 218, 1));
    margin-right: 0px;
    
}

#smallDel
{
    display: block;
    color: white;
    text-align: center;
    padding: 40px 40px 40px 30px;
    text-decoration: none;
    transition: 0.5s all;
    width:180px;
    cursor: pointer;
}

.line
{
    width:20px;
    height:3px;
    background-color:white;
    margin-bottom: 3px;
    float: center;
}

@media all and (max-width: 900px)
{  
    .smallerScreen
    {
    display:block;
    z-index:5;
    }

    .largerScreen
    {
        display: none;
    }
}

.submitBtn
{
    transition: 0.3s all;
}
.submitBtn:hover
{
    color:blue;
    width:80px;
    height:30px;
    box-shadow: 4px 6px 8px white;
    cursor: pointer;
}

.field:hover
{
    box-shadow: 4px 6px 8px white;
}

#ToRegister
{
    color: black;
    font-weight: bold;
}

#ToRegister:link
{
    color: #490e0e;
}       

#ToRegister:hover
{
    color: #07aaaf;
}

#ToRegister:active
{
    color: yellow;
}

#space
{
   display:block;
   content: "";
   height: 40px;
}

.column 
{
    padding: 10px;
    margin-left: 10px;    
}

.row { 
    display:grid;
    grid-template-columns: 47% 47% ;
    grid-column-gap: 10px;
    padding: 10px;
    pointer-events: none;
}

.row > *{
    pointer-events: auto;
    transition-duration: 1s;    
    background-image: radial-gradient(#fff4e3,rgba(245, 188, 97, 0.514));
    margin-bottom: 10px;       
}

.row:hover > *{
    opacity: 0.5;
}

.row:hover > *:hover {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 1);
    background-color: rgba(163, 163, 163, 0.7);
    z-index: -1;
    cursor: pointer;
  }


.post {
    height: 400px;
    padding: 0px 8px 10px 40px;
    font-family:cursive;
    padding-top: 0;
    margin-top:0;
    white-space: pre-wrap;    
}

.post > h4, p
{
    position: relative;
    top: -50px;
    text-align: justify;
}


@media screen and (max-width: 900px)
{
    .row {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }    
}

#create{
    display: block;
    position:relative;
    border-radius: 5px;
    float:right;
    width: 120px;
    height: 80px;
    padding: 15px 32px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-right: 20%;
    top: -300px;
    }
 
 #create:hover
 {
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    font-size: 30px;
    padding: 0;  
    background-color: white;
    box-shadow: 7px 4px 5px 5px white;
    transition: all 0.3s ease-out;    
    cursor: pointer;
 }

 #postBox::-webkit-scrollbar-thumb {
    background-color: rgb(24, 148, 80);
    outline: 1px solid slategrey;
  }

 #postBox:focus
 {
    background-color:rgb(226, 226, 128);
    transition: all 0.3s ease-out;
 }

 @media screen and (max-width: 900px)
{
   .write{
       text-align:left
    }
}

 .read{
    font-family:cursive;
    color:black;
    font-size: 22px;
    text-align: left;
    display: block;
    margin-left: 90px;
    margin-right: auto;
    width: 70%;
    position: relative;
    right: -100px;
    top:-100px;
    white-space: pre-wrap;
 }

 .read > h2
 {
    position:relative;
    bottom: -50px;
    left:-150px;
 }

 .readPost
 {
    background-color: #fff4e3;   
 }

 .readPost > p
 {
    text-align:justify;
    text-justify:inter-word;
 }

    .editDel {
        display: block;
        color: #f2f2f2;
        text-align: left;  
        text-decoration: none;    
        width:100%;
        background-color: rgba(255, 255, 255, 0);
        position: sticky;
        position: -webkit-sticky;
        top:7rem;
    }   
    
  
    .edit {
        display: inline-block;
        font-weight: bold;
        font-family: cursive;
        background-color: rgba(255, 255, 255, 0.74);
        border: 1px solid rgba(68, 26, 165, 0.76);
        border-bottom: rgb(167, 118, 29);
        border-radius: 5px;
        align-self: start;
        padding: 30px 30px;
        margin-top:0px;
        text-align: center;
   }
    #del{
        float:right; 
        margin-right: 120px;             
        }

        .edit:hover 
        {
         transform: scale(1.2);
         background-color: orangered;
         box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.705);
         color:blue;
         transition: all 0.3s ease-in-out;
         cursor: pointer;     
       }    

   @media screen and (max-width: 900px)
   {
       .readPost {
          width: 100%;
          margin-left:2px;
          margin-right:2px;
          display: block;
       }
   
       .read{
           display: block;
           font-size: 15px;
           margin-left:2px;
           margin-right:2px;
       }
   
       .read > h2
       {
           left:-50px;
       }

       .editDel{display:none}      
       
   }

   
   
    #overlay, #logoverlay, #signoverlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        font-size:30px;
        text-align: center;
        bottom: 0;
        background-color: rgba(46, 53, 110, 0.5);
        z-index: 10;
        cursor: pointer;
    }

    #requestDel
    {  
    display:inline;
    width:50px;
    height:30px; 
    left:300px;
    }

    #yes
    {
    display:inline;
    font-weight: bold;
    font-family: cursive;
    width:50px;
    height:50px;
    background-color: white;
    border: 3px solid rgba(68, 26, 165, 0.76);
    border-radius: 5px;
    }

    #no
    {   
    font-family: cursive;
    font-weight: bold;
    display:inline-block;
    width:50px;
    height:50px;
    background-color: white;
    border:3px solid rgba(68, 26, 165, 0.76);
    border-radius: 5px;
    }

    #yes:hover{
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.795);
        transition: all 0.3s ease-in-out;
        background-color: orangered;
        color:blue;
        cursor: pointer; 
    }

    #no:hover{
        transform: scale(1.2);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.795);
        background-color: orangered;
        color:blue;
        transition: all 0.3s ease-in-out;   
        cursor: pointer;        
    }

    #box
    {
    padding: 70px 0;
    border: 8px solid rgba(34, 28, 2, 0.534);
    background-color:rgba(71, 61, 17, 0.904);
    border-radius:20px;
    width: 70%;
    margin-right:auto;
    margin-left:auto;
    margin-top:100px;
    margin-bottom:10px;
    padding-bottom:5px;
    height:50%;
    overflow:visible
    }

    #mess
    {   
    width: 70%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:30px;
    }

    .item
    {
        width: -moz-fit-content;
        width: fit-content;
    }

    .post h4{
        padding-bottom:0;
        margin-bottom:-15px;           
    }

    .success {
        position:absolute;
        transform: translateY(-85px);
        width:92%;
        border-bottom-right-radius: 20px;
        background-color: #ddffdd00;
        color:rgba(0, 0, 0, 0);
        z-index:-1;
        border-left: 0px solid #04aa6d00;
        margin-bottom: 15px;
        margin-left: 7px;
        max-height: 30px;
        padding: 40px 0;        
        margin-top:-40px;
        text-align: center;
        animation-name:slideDown;
        animation-duration:5s;
        animation-timing-function: linear;
    }

    @keyframes slideDown{
        
        35%{transform: translateY(0px);
            background-color: #ddffdd;
            color:rgba(0, 0, 0, 0.705);
            border-left: 10px solid #04aa6dc4;
            z-index:4}
        65%{transform: translateY(0px);
            background-color: #ddffdd;
            color:rgb(0, 0, 0);
            border-left: 10px solid #04aa6d;}
        100%{transform: translateY(-85px);
            background-color: #ddffdd00;
            color:rgba(0, 0, 0, 0);
            border-left: 0px solid #04aa6d00;
            z-index:-1;}
    }

    @keyframes makeOpaque{
        0%{background-image: linear-gradient(to right, rgba(0, 0, 0, 0.979) ,rgba(80, 59, 218, 0.836));
        z-index:5}
        25%{background-image: linear-gradient(to right, rgba(0, 0, 0, 0.952) ,rgba(80, 59, 218, 0.658))}
        50%{background-image: linear-gradient(to right, rgba(0, 0, 0, 0.932) ,rgba(80, 59, 218, 0.466))}
        75%{background-image: linear-gradient(to right, rgba(0, 0, 0, 0.911) ,rgba(80, 59, 218, 0.26))}
        100%{background-image: linear-gradient(to right, rgba(0, 0, 0, 0.904) ,rgba(80, 59, 218, 0))}
    }

    .profile {
        display: grid;
        grid-template-columns: 20% 70%;
        padding: 10px;
      }

      .postcontainer{
        display: grid;
        grid-template-columns: auto ;
        gap:10px;
        margin-left:100px;
      }
      
      .ownposts,
      .profileinfo {
        padding: 15px;
        background-image: radial-gradient(#fff4e3,rgba(245, 188, 97, 0.514));
        margin-bottom: 5px;
        color:black;
      }      

      .ownposts:hover{
        transition-duration: 1s; 
        transform: scale(1.15);
      }
      
      .ownposts {
        height: auto;
        padding: 0px 8px 10px 40px;
        font-family:cursive;
        padding-top: 0;
        margin-top:0;
        white-space: pre-wrap;    
      }
      
      .profileinfo {
        width: 30%;
        height:300px;
        min-width: 300px;
        margin-top:80px;
        padding-top:100px;
        padding-bottom:10px;
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
    }

      .profileinfo > p{
        display: block;
        text-align: center;
        }

      @media screen and (max-width: 800px)
    {        
        .profile {
        width: 100%;
        display: inline-block;
        transition-duration:0s;
        transform: translateY(-200px);
        }

        .postcontainer{
            display:inline-block;
            width:100%;
            margin-top:100px;
            margin-right:auto;
            margin-left:auto;
        }

        .ownposts:hover{
            color:blue;
            transform: scale(1);
          }
        
        #userposts{
            display:none;
        }

        .ownposts,
        .profileinfo {
            width: 100%;
            transition-duration:0s;
            background-color: #fff4e3;
        }

        .profileinfo{
            position: relative;
            z-index:0;            
        }
    }

    .community {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-evenly;
        padding: 10px;
      }
      .member {
        background-image: url("\\static\\icons\\user.png");
        background-size: cover;
        border-radius: 30%;
        padding: 20px;
        margin-bottom: 10px;
        font-size: 30px;
    }

    .edituser{
        display: block;
        padding-top: 2px;
        margin-right:20px;
        margin-left:20px;
        font-weight: bold;
        text-align:center;
        background-color: white;
        border: 3px solid rgba(68, 26, 165, 0.76);
    }

    .edituser:hover{
        transform: scale(1.1);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.795);
        transition: all 0.3s ease-in-out;
        background-color: orangered;
        color:blue;
        cursor: pointer; 
    }
