<!DOCTYPE html>
<html lang="en">
    <head>
        {%block statics%}    
        <link rel="stylesheet" type ="text/css" href ="../static/main.css">
        <script src="../static/invalidInputs.js"></script>
        {%endblock%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title%}{%endblock%}</title>
    </head>

    <body>
        <h1 style="text-align:center; color:white; text-shadow: 4px 6px 10px black">Flask Blog</h1>

        <ul class = "largerScreen">
            <li><a class = "option" href="/">Home</a></li>
            <li><a class = "option" href="/post/create">Create new Post</a></li>                  
        </ul>

        <ul class = "smallerScreen">
            <li class="dropMenu">
                <a href="javascript:void(0)" class="dropbtn"> 
                    <div class ="line"></div>
                    <div class ="line"></div>
                    <div class ="line"></div>
                    <span>Menu</span>
                </a>              
                <div class="dropdown-content">
                <a class = "option" href="/">Home</a>
                <a class = "option" href="/post/create">Create new Post</a>
                </div>
                <br>           
            </li>
            {%block smallerEdit%}            
            {%endblock%}  
        </ul>
        <br id ="space">        
        {%block content%}        
        {%endblock%}               
    </body>
</html>