{%extends "base.html"%}
{%block title%}Create new users{%endblock%}
{%block content%}
<br>
<h4>
{%with messages = get_flashed_messages()%}
  {%if messages%}
    {%for note in messages%}
    <strong><p style = "text-align: center;color:maroon;">{{note}}</p></strong>
    {%endfor%}
    {%endif%}
{%endwith%}
</h4>
<form style = "text-align:center;"method = "post">
  <div class = "role-box">
  <h3>What type of user are you creating?</h3>
  <label class="role-option">Basic
    <input type="radio" checked="checked" name="usr_role" value = "regular">
    <span class="select"></span>
  </label>
  <label class="role-option">Admin
    <input type="radio" name="usr_role" value = "admin">
    <span class="select"></span>
  </label>
  </div>
      <br>
    {%if email == ''%}
    <label for="username">Create an username:</label><br>
  <input id ="toCheck"
   class="field"
   type="text"
   name="username"
   placeholder="letters and numbers only"
   pattern="[a-zA-Z0-9]+" 
   title="Name should be at least 4 characters long."
   minlength="4"
   autofocus
   required
   oninput="InvalidUserName()">
   <br>
   <h4 id="invalid" style="color:red;"></h4>
   <br>

  <label for="email">Email address</label><br>
  <input id ="mail"
    class="field"
    type="email"
    name="email"
    placeholder="John.Doe@domain.com"
    minlength="4"
    required
    >
    <br>
    <br>
    {%else%}
    <label for="username">Create an username:</label><br>
  <input id ="toCheck"
   class="field"
   type="text"
   name="username"
   value = {{name}}
   pattern="[a-zA-Z0-9]+" 
   title="Name should be at least 4 characters long."
   minlength="4"
   autofocus
   required
   oninput="InvalidUserName()">
   <br>
   <h4 id="invalid" style="color:red;"></h4>
   <br>
    <label for="email">Email address</label><br>
  <input id ="mail"
    class="field"
    type="email"
    name="email"
    value = {{email}}
    minlength="4"
    required
    >
    <br>
    <br>
    {%endif%}
    
  <label for="pwd">Create a password</label><br>
  <input class="field"
   style ="width:250px;"
   type="password"
   id="pwd" 
   name="pwd"
   placeholder="Min 7 characters (min 1 special character)"
   pattern="([a-zA-Z0-9]+)*[^A-Za-z0-9]([a-zA-Z0-9]+)*"
   title="Password must be 7 characters long and have 1 special character"
   minlength="7"
   required
   onfocus="RestoreAlerted()"
   onblur="InvalidPass()">   
   <br>
   <span id="wrongFormat" style="color:red;"></span>
   <br>

   <label for="pwd2">Confirm password</label><br>
  <input class="field"
   type="password"
   id="pwd2" 
   name="pwd2"
   placeholder="Type your password again"
   title="All characters should match those entered above."
   required
   oninput="DifferentPass()">
   <br>
   <span id="diffPass" style="color:red;"></span> 
   <br>
  <input class ="button" id = "submit" type="submit" value="Create">
</form>
{%endblock%}