{%extends "base.html"%}
{%block title%}Create new users{%endblock%}
{%block content%}
<h3 id = "role"
style="text-align:center; color:white; text-shadow: 4px 6px 10px black">
Create basic user
</h3>
<br>
<h4>
{%with messages = get_flashed_messages()%}
  {%if messages%}
    {%for note in messages%}
    <strong><p style = "text-align: center;color:maroon;">{{note}}</p></strong>
    {%endfor%}
    {%endif%}
{%endwith%}
</h4>
<form style="text-align:center" method = "Post">
  <h4>User Role</h4>
  <label class="toggle" style = "margin-bottom:40px;">
    <input type="checkbox" id = "switch">
    <span class="slider"></span>
      <span class="labels" data-on="Admin" data-off="Basic" onclick ="FillInEmail()"></span>
      </label>
      <br>
    <label for="username">Create an username:</label><br>
  <input id ="toCheck"
   class="field"
   type="text"
   name="username"
   placeholder="letters and numbers only"
   pattern="[a-zA-Z0-9]+" 
   title="Name should be at least 4 characters long."
   minlength="4"
   autofocus
   required
   oninput="InvalidUserName()">
   <br>
   <h4 id="invalid" style="color:red;"></h4>
   <br>

  <label for="email">Email address</label><br>
  <input id ="mail"
    class="field"
    type="email"
    name="email"
    placeholder="John.Doe@domain.com"
    minlength="4"
    required
    oninput="InvalidMail()">
    <br>
    <br>
    
  <label for="pwd">Create a password</label><br>
  <input class="field"
   style ="width:250px;"
   type="password"
   id="pwd" 
   name="pwd"
   placeholder="Min 7 characters (min 1 special character)"
   pattern="([a-zA-Z0-9]+)*[^A-Za-z0-9]([a-zA-Z0-9]+)*"
   title="Password must be 7 characters long and have 1 special character"
   minlength="7"
   required
   onfocus="RestoreAlerted()"
   onblur="InvalidPass()">   
   <br>
   <span id="wrongFormat" style="color:red;"></span>
   <br>

   <label for="pwd2">Confirm password</label><br>
  <input class="field"
   type="password"
   id="pwd2" 
   name="pwd2"
   placeholder="Type your password again"
   title="All characters should match those entered above."
   required
   oninput="DifferentPass()">
   <br>
   <span id="diffPass" style="color:red;"></span> 
   <br>
  <input class ="submitBtn" id="sub" type="submit" value="Create">
</form>
{%endblock%}