{%extends "base.html"%}
{%block title%}Configure_DataBase{%endblock%}
{%block create1%}{%endblock%}
{%block create2%}{%endblock%}
{%block content%}
<form class = "write" style="text-align:center" method = "Post">
    <label for="host">HOST</label><br><br>
     <input id ="DbHost"
      class="field"
      style ="width:200px;"
      type="text"
      name="host"
      maxlength="15"
      minlength="4"
      autofocus
      value="localhost"
      required><br><br>
    <label for="database">Data Base</label><br><br>
     <input id ="db"
        class="field"
        style ="width:200px;"
        type="text"
        name="database"
        maxlength="15"
        minlength ="4"
        required><br><br>
    <label for="user">User</label><br><br>
     <input id ="usr"
        class="field"
        style ="width:200px;"
        type="text"
        name="user"
        maxlength="15"
        minlength ="4"
        required><br><br>
    <label for="password">Password</label><br><br>
     <input id ="pass"
        class="field"
        style ="width:200px;"
        type="password"
        name="password"
        maxlength="15"
        minlength ="4"
        required><br><br>
    <input style = "transform: translateY(50%);"class ="submitCreate" id="create" type="submit" value="Config">
</form>
{%endblock%}