{%extends "base.html"%}
{%block title%}Edit profile{%endblock%}
{%block content%}
<h3
style="text-align:center; color:white; text-shadow: 4px 6px 10px black">
Change profile information
</h3>
<h4>
{%with messages = get_flashed_messages()%}
  {%if messages%}
    {%for note in messages%}
    <strong><p style = "text-align: center;color:maroon;">{{note}}</p></strong>
    {%endfor%}
    {%endif%}
{%endwith%}
<form style="text-align:center" method = "Post">
{%if is_admin%}
    {%if role in ("admin", "default")%}
      {%set checked = namespace(roles = ["Admin", "admin","Basic", "regular"])%}
    {%else%}
      {%set checked = namespace(roles = ["Basic", "regular", "Admin", "admin"])%}
    {%endif%}
  <div class = "role-box">
    <h3>Select new role for the user</h3>
    <label class="role-option">{{checked.roles[0]}}
      <input type="radio" checked="checked" name="usr_role" value = {{checked.roles[1]}}>
      <span class="select"></span>
    </label>
    <label class="role-option">{{checked.roles[2]}}
      <input type="radio" name="usr_role" value = {{checked.roles[3]}}>
      <span class="select"></span>
      </label>
    </div>
{%endif%}
    <br>
  <label for="username">Change username:</label><br>
  <input id ="toCheck"
   class="field"
   type="text"
   name="username"
   pattern="[a-zA-Z0-9]+" 
   title="Name should be at least 4 characters long."
   minlength="4"
   autofocus
   required
   value = "{{username}}"
   oninput="InvalidUserName()">
   <br>
   <span id="invalid" style="color:red;"></span>
   <br>

  <label for="email">Email address</label><br>
  <input id ="mail"
    class="field"
    type="email"
    name="email"
    minlength="4"
    autofocus
    value = "{{email}}"
    required
   >
    <br>
    <br>
   <label for="old">Verify it's you</label><br>
  <input class="field"
   style ="width:250px;"
   type="password"
   id="oldpass" 
   name="oldpass"
    required
   >
   {%if is_admin%}
  <script>      
    document.getElementById("oldpass").removeAttribute("required");
  </script>
  {%endif%}
   <br>
   <br>

  <label for="pwd">Create a new password</label><br>
  <input class="field"
   style ="width:250px;"
   type="password"
   id="pwd" 
   name="pwd"
   placeholder="Min 7 characters (min 1 special character)"
   pattern="([a-zA-Z0-9]+)*[^A-Za-z0-9]([a-zA-Z0-9]+)*"
   title="Password must be 7 characters long and have 1 special character"
   minlength="7"
   onfocus ="RestoreAlerted()"
   onblur="InvalidPass()">   
   <br>
   <span id="wrongFormat" style="color:red;"></span>
   <br>

   <label for="pwd2">Confirm password</label><br>
  <input class="field"
   type="password"
   id="pwd2" 
   name="pwd2"
   placeholder="Type your password again"
   title="All characters should match those entered above."
   oninput="DifferentPass()">
   <br>
   <span id="diffPass" style="color:red;"></span> 
   <br>
  <input class ="submitBtn" id="sub" type="submit" value="Submit">
</form>
{%endblock%}