{%extends "base.html"%}
{%block content%}
<div id="erroroverlay" style = "display:block;height:fit-content;" onclick = "window.location.href = '/login'">
    <div id="box">
    {%if error == '405'%}
    <h3 id ="mess">405 - Method Not Allowed</h3>
    <h4>You do not have necessary authorization for editting.</h4>
    <h3>Required roles: Admin, Owner</h3>
    {%else%}
    <h3 id ="mess">403 - Forbidden</h3>
    <h4>We are sorry but only {{role}} have access to this page.</h4>
    {%if role == 'admin'%}
    <h4>If you are one</h4>
    {%endif%}
    <h3>Please Log in</h3>
    {%endif%}
    </div>
</div>
<script>
    setTimeout(function(){
        window.location.href = "/login";
    }, 4000);
</script>
{%endblock%}