{%extends "base.html"%}
{%block title%}Home{%endblock%}
{%block content%}
{%with messages = get_flashed_messages()%}
  {%if messages%}
    {%for note in messages%}
    <div class="success">
    </br>
      <strong><p>{{note}}</p></strong>
    </div>
    {%endfor%}
    {%endif%}
{%endwith%}
<div id="logoverlay" onclick="MessOff(this.id)">
  <div id="box">
  <p id ="mess">Are you sure you want to logout?</p>
  <div id = "requestDel" method = "Post">  
      <a href = "/logout"><input type = "button" id = "yes" value ="Yes"></a>
      <input type="button" id = "no" value ="No" onclick="MessOff('overlay')">
  </div>
  </div>
</div>
  <span style = "color:white;position:absolute;top:175px;left:20px;margin-right:20px">Filter posts</span>
  <div class = "filter-field">
    <div class = "filters">
      {%for i in range(filters["user_id"]|length)%}
      {%set name = filters["name"][i]%}
      {%set userid = filters["user_id"][i] %}
      <form method = "post">
        {%if i == 0%}
        <span class = "applied-filt">Clear all
          <a href = "/" id = "fullx"><input type = "button" value = "X"></a></span>
        {%endif%}
      <span class = "applied-filt">{{name}}
        <input type = "hidden" name = "name" value = {{name}}>
        <input type = "hidden" id = "id" name = "rmv_id" value = {{userid}}>
        <input type = "submit" id = "x" name = "user_id" value = "x">
        </span>
    </form>
      {%endfor%}
      <i class = "arrow" ></i>
  </div>
  {%set i = []%}
  {%for notfiltered in users%}
  <form class = "not-filtered" id = {{i|length}} method = "post">
    <input type = "hidden" name ="name" value = {{notfiltered[1]}}>
    <input type="checkbox" id="filter-name" name="user_id" value = {{notfiltered[0]}}
    onchange="document.getElementById('{{i|length}}').submit()">{{notfiltered[1]}}</input>
  </form>
  {%set i = i.append(1)%}
  {%endfor%}
</div>
  <div class="row">
      {% for item in allposts%}
      <div class="column">
      {%if item[0] == "Ch1"%}
      <a href= "/post/create" style ="color:black; text-decoration:none; ">
      {%else%}
      <a href="{{ '/post/read/%s'%item[0]|urlencode }}" style ="color:black; text-decoration:none; ">
      {%endif%}
        <div class="post" title ="Click to Read More">
         <h3 class = "item" style ="margin-left:auto;margin-right:auto;">{{item[1].title}}</h3>
         <h4 class = "item" class ="higlight">by {{item[1].auth}}</h4>
         <div class = "item" style ="text-align:justify;">{{item[1].content}}</div>
        <span class = "item" style = "float: right">{{item[1].created}}</span>
        </div>
      </a>
    </div>
    {%endfor%}
  </div>
  <div class = "pages">
    {%if '?' in url%}
    {%set ns = namespace(path = url)%}
    {%else%}
    {%set ns = namespace(path = '?')%}
    {%endif%}
  {%if pg != 1%}
  {%set prev = (pg - 1)|string%}
  <a href="{{ '%spg=%s&'|format(ns.path, prev) }}" class="pg-arr">&laquo; Previous</a>
  {%endif%}
  {%if next%}
  {%set next = (pg + 1)|string%}
  <a href="{{ '%spg=%s&'|format(ns.path, next) }}" class="pg-arr">Next &raquo;</a>
  {%endif%}
  </div>
{%endblock%}