{%extends "base.html"%}
{%block title%}Home{%endblock%}
{%block content%}
{%if '?' in url%}
{%set ns = namespace(path = url)%}
{%else%}
{%set ns = namespace(path = '?')%}
{%endif%}
{%with messages = get_flashed_messages()%}
{%if messages%}
{%for note in messages%}
<div class="success">
    <strong><p>{{note}}</p></strong>
</div>
{%endfor%}
{%endif%}
{%endwith%}
<div class="home-content">
    <div class="filters">
        <input type="text" placeholder="Filter by users..." id="search" name="lookup" onkeyup="filterFunction()"
               onblur="changeFilterMessage();" onfocus="changeFilterMessage()">
        <div id="found" class="users">
            {%for i in range(filters["user_id"]|length)%}
            {%set name = filters["name"][i]%}
            {%set userid = filters["user_id"][i] %}
            {%if i == 0%}
            <script>
        document.getElementById("found").style.transitionDuration = "0s";
        document.getElementById("search").focus();
            </script>
            <a href="/">Clear all<span style="margin-left:-50px;" id="x">x</span></a>
            {%endif%}
            <span>{{name}}
          <form style="display:inline;margin-left:-50px;" method="Post">
        {%set name = name|replace(" ", "-")%}
        <input type="hidden" name="name" value= {{name}}>
        <input type="hidden" id="id" name="user_id" value={{userid}}>
        <input style="font-size: medium;" type="submit" id="x" name="rmv_id" value="x">
          </form>
      </span>
            </a>
            {%endfor%}
            {%for user in users%}
            <a href="{{ '%suser_id=%s&name=%s&'|format(ns.path, user[0], user[1])}}">{{user[1]}}</a>
            {%endfor%}
        </div>
    </div>
    <div class="row">
        {% for item in allposts%}
        <div class="column">
            {%if item[1].auth == "Chandler Bing"%}
            <a href="/post/create" style="color:black; text-decoration:none;">
                {%else%}
                <a href="{{ '/post/read/%s'%item[0]|urlencode }}" style="color:black; text-decoration:none; ">
                    {%endif%}
                    <div class="post" title="Click to Read More" style="background-image: url('{{item[1].img_src}}');">
                        <h3 class="item" id="title">{{item[1].title}}</h3>
                        <h4 class="item" id="auth">by {{item[1].auth}}</h4>
                        <div class="item" style="text-align:justify;word-break: keep-all;margin:0;">
                            {{item[1].content}}
                        </div>
                        <span class="item" style="float: right;">{{item[1].created}}</span>
                    </div>
                </a>
        </div>
        {%endfor%}
    </div>
    <br>
    <div class="pages">
        {%if pg != 1%}
        {%set prev = (pg - 1)|string%}
        <a href="{{ '%spg=%s&'|format(ns.path, prev) }}" class="pg-arr">&laquo; Previous</a>
        {%endif%}
        {%if next%}
        {%set next = (pg + 1)|string%}
        <a href="{{ '%spg=%s&'|format(ns.path, next) }}" class="pg-arr" style="padding-left:15px;">Next <span
                style="margin-left:10px;">&raquo;</span></a>
        {%endif%}
    </div>
</div>
<script>
  document.getElementById("found").style.transitionDuration = "0.8s";



</script>
{%endblock%}