{%extends "base.html"%}
{%block title%}LogIn{%endblock%}
{%block content%}
<h2 
style="text-align:center; color:white; text-shadow: 4px 6px 10px black">
Log in and start posting
</h2>
<br><br>
{%with messages = get_flashed_messages()%}
  {%if messages%}
    {%for note in messages%}
    <strong><p style = "text-align: center;color:maroon;">{{note}}</p></strong>
    </div>
    {%endfor%}
    {%endif%}
{%endwith%}
<form style="text-align:center" method = "Post">
  <label for="mail">Email address:</label><br>
  <input class="field"
   type="email" 
   id="email"
   name="mail"
   placeholder="Type in email adress"
   autofocus
   required><br>
  <label for="pwd">Password:</label><br>
  <input class="field"
   type="password"
   id="pwd" 
   name="pwd"
   placeholder="Type in your password"
   required><br><br>
  <input class ="submitBtn" type="submit" value="Log In" style = background-color:yellowgreen>
</form>
<h3 style ="text-align:center; color:white; text-shadow: 4px 6px 10px black">
  Not a member? Press  <a id = "ToRegister" href="/signup">Here</a>  to sign up.
</h3>
{%endblock%}