{%extends "base.html"%}
{%block title%}LogIn{%endblock%}
{%block content%}
<h2 
style="text-align:center; color:white; text-shadow: 4px 6px 10px black">
Log in and start posting
</h2>
<form style="text-align:center" method = "Post">
  <label for="username">Username:</label><br>
  <input class="field"
   type="text" 
   id="username"
   name="username"
   placeholder="Type in UserName"
   autofocus
   required><br>
  <label for="pwd">Password:</label><br>
  <input class="field"
   type="password"
   id="pwd" 
   name="pwd"
   placeholder="Type in your password"
   required><br><br>
  <input class ="submitBtn" type="submit" value="Log In" style = background-color:yellowgreen>
</form>
<h3 style ="text-align:center; color:white; text-shadow: 4px 6px 10px black">
  Not a member? Press  <a id = "ToRegister" href="/signup">Here</a>  to sign up.
</h3>
{%endblock%}