{%extends "base.html"%}
{%block title%}Our members{%endblock%}
{%block content%}
<form method = "Get" id ="role-filter" onclick="restrictUnchecked(this.id)" onsubmit = "saveChecked()">
    <div class = "role-box filter-box">
        <h3>Show me only users who are:</h3>
        <label class="role-option" style = "display:inline-block;margin-right:15px;">Admin
        <input type="checkbox" checked = "checked" name="usr_role" value = "'admin', 'default'">
          <span class="select" style="left:0;"></span>
        </label>
        <label class="role-option" style = "display:inline-block;margin-right:15px;">Active
          <input type="checkbox" name="usr_role" value = "'regular'">
          <span class="select" style="left:0;"></span>
          </label>
        <label class="role-option" style = "display:inline-block;margin-right:15px;">Inactive
        <input type="checkbox" name="usr_role" value = "deleted">
            <span class="select" style="left:0;"></span>
        </label>
        <br>
        <input class ="button" id="Filter" type="submit" value="Filter">
        <a href = "/view/community"><input type = "button" class = "button" value ="Reset"></a>
        </div>
    </div>
</form>
<div class = "community">
        {%for member in allmembers%}
        {%if member[0] == member[1]%}
        <a href="{{ '/view/old_users/%s/?pg=1'%member[0]|urlencode }}">
        <div class = "member" id = "inactive">
                <h5>{{member[1]}}</h5>
                <span class="tooltiptext">{{member[1]}}</span>
        </div>
            </a>
            {%elif member[2] in ('admin','default')%}
            <a href="{{ '/view/%s/?pg=1'%member[0]|urlencode }}">
                <div class = "member" id = "admin">
                        <h5>{{member[1]}}</h5>
                        <span class="tooltiptext">{{member[1]}}</span>
                </div>
            </a>
            {%else%}
            <a href="{{ '/view/%s/?pg=1'%member[0]|urlencode }}">
        <div class = "member" id = "active">
                <h5>{{member[1]}}</h5>
                <span class="tooltiptext">{{member[1]}}</span>
           </div>
        </a>
       {%endif%}
        {%endfor%}
    </div>
    <script>
        let checked = document.cookie;
        var keyValue = checked.split("=")[1];
        var options = document.querySelectorAll("[name ='usr_role']");
        for (let char of keyValue)
        {   
            options[parseInt(char)].checked = true;
        }
        document.cookie = "values=";
     </script>
{%endblock%}