{%extends "base.html"%}
{%block title%}Create_Post{%endblock%}
{%block css%}
<link rel="stylesheet" type ="text/css" href ="/static/main.css">
{%endblock%}
{%block create1%}{%endblock%}
{%block create2%}{%endblock%}
{%block content%}
<div class="column">
  <div class="post" title ="Click to Read More">
    <h3 style ="text-align:center;">{{postTitle}}</h3>
    <h4 clas ="higlight">Written by:{{postAuth}}</h4>
    <p>{{postCnt}}</p>
      <p id ="date">created: {{date}}</p>
  </div>
</div>
{%endblock%}