{%extends "base.html"%}
{%block title%}{{name}}{%endblock%}
{%block content%}
{%with messages = get_flashed_messages()%}
  {%if messages%}
  <div class = "flash-note" id = "greeting">
    {%for note in messages%}
    <h3>{{note}}</h3>
    {%endfor%}
</div>
    {%endif%}
{%endwith%}
    <div id="signoverlay" onclick="MessOff(this.id)">
        <div id="box">
        <p id ="mess">Are you sure you want to delete your account?</p>
        <form id = "requestDel" method = "Post">  
            <input type="hidden" id="actId" name="userID" value={{user_id}}>
            <input type="hidden" id="log" name="action" value= "signout">
            <input type="submit" class = "button" id ="yes" value="Yes">
            <input type="button" class = "button" id = "no" value ="No" onclick="MessOff('signoverlay')">
        </form>
        </div>
    </div>
    <div class="profile">
        <div class="profileinfo">
            <p>{{name}}</p>
            <p>email:{{email}}</p>
            <p>member since:{{date}}</p>
            <p>{%if modified != None and modified != ""%}last update: {{modified}}{%endif%}</p>
            {%if edit_allowed%}
            {%if user_id != email%}
            <a href = "{{ '/user/statistics/%s'%user_id|urlencode }}">
                <p style = "margin-bottom:0;display:block;text-align:center;">View monthly statistics</p>
            </a>
            <a href = "{{ '/edit/%s'%user_id|urlencode }}">
                <p class = "editbutton" style = "margin-bottom:0;">Edit info</p>
            </a>
            {%else%}
            <a href = "{{ '/activate/%s'%user_id }}">
                <p class = "editbutton" style = "margin-bottom:0;">Activate account</p>
            </a>
            {%endif%}
            <a href = "javascript:void(0)" onclick = "MessOn('signoverlay')" id = "rmv_account">
                <img src = "\static\icons\unfollow.png" style = "margin-top:30px;width:25px;height:30px;"></img>
                Delete account</a>
            {%endif%}
        </div>
        <div class = "postcontainer" >
            <h3 id = "userposts"style="text-align:center;color:white; text-shadow: 2px 4px 5px black">
                {{name}}'s posts
            </h3>
        {%if posts|length > 0%}
        {%for articles in posts%}
        {%if user_id == email%}
        {%set id = "%s/?email=%s"%(articles[0], email)%}
        {%else%}
        {%set id = articles[0]%}\
        {%endif%}
        <a href="{{ '/post/read/%s'%id }}" style ="color:black; text-decoration:none; ">
        <div class="ownposts" title = "Click to read more" style = "background-image: url('/{{articles[1].img_src}}');">            
            <h3 class = "item" style ="margin-left:20%;">{{articles[1].title}}</h3>
            <h4 class = "item" class ="higlight">by {{articles[1].auth}}</h4>
            <div class = "item" style ="text-align:justify;">{{articles[1].content}}</div>
            <span class = "item" style = "float: right">{{articles[1].created}}</span>
        </div>
        </a>
        {%endfor%}
        <div class = "pages">
            {%if pg != 1%}
            {%set prev = (pg - 1)|string%}
            <form style = "display:none" id = "prev" method = "GET">
            <input type = hidden name = "pg" value = {{prev}}>
            </form>
            <a href="javascript:void(0)" class="pg-arr" onclick = "document.getElementById('prev').submit()">&laquo; Previous</a>
            {%endif%}
            {%if next%}
            {%set next = (pg + 1)|string%}
            <form style = "display:none" id = "next" method = "GET">
            <input type = hidden id = "next" name = "pg" value = {{next}}>
            </form>
            <a href="javascript:void(0)" class="pg-arr" onclick = "document.getElementById('next').submit()">Next &raquo;</a>
            {%endif%}
        </div>
        </div>
        {%else%}
        <div class="ownposts">
            You have no posts yet.
        </div>
        {%endif%}
    </div>
{%endblock%}