{%extends "base.html"%}
{%block title%}Create_Post{%endblock%}
{%block content%}
<form class = "write" style="margin-right:20%;margin-left:20%;text-align:center;" method = "Post" enctype="multipart/form-data">
  <input type="hidden" id="actId" name="author" value={{owner}}>
  <label for="title" style = "z-index:-1;">Add a title</label><br><br>
     <textarea id ="description"
      class="field"
      type="text"
      name="title"
      rows="1" 
      cols="30"
      wrap="hard"
      text-align: left
      title="Title can be 50 characters long"
      maxlength="50"
      minlength = "4"
      placeholder = "My post"
      required></textarea>
    <br><br>
    <strong><label for="post">What's on your mind?</label></strong><br><br>
    <textarea id ="postBox"
        name="post"
        rows="20"
        cols="70"
        placeholder="What's on your mind?"
        wrap="hard"
        minlength ="100"
        required
        ></textarea>
        <br><br>
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*" onchange = "displayPreview()">
    <div class="preview">
      <img src="/static/images/noimage.jpg" alt="image" class="img-prev">
    </div>
    <input class ="button submit" type="submit" value="Post">
    <br>
</form>
{%endblock%}
