{%extends "base.html"%}
{%block title%}Create_Post{%endblock%}
{%block log%}
{%set user = session["username"]%}
{%set id = session["id"]%}<a class = "option" href="{{ '/view/%s'%id|urlencode }}">
  <img src = "\static\icons\profile.png" style = "width:25px;height:30px;"></img>{{user}}</a>
{%endblock%}
{%block content%}
<form class = "write" style="text-align:center" method = "Post">
  <input type="hidden" id="actId" name="author" value={{owner}}>
  <label for="title">Add a title</label><br><br>
     <textarea id ="description"
      class="field"
      type="text"
      name="title"
      rows="1" 
      cols="30"
      wrap="hard"
      text-align: left
      title="Title can be 50 characters long"
      maxlength="50"
      minlength = "4"
      placeholder = "My post"
      required></textarea>
    <br><br>
    <strong><label for="post">What's on your mind?</label></strong><br><br>
    <textarea id ="postBox"
        name="post"
        rows="30"
        cols="70"
        placeholder="What's on your mind?"
        wrap="hard"
        minlength ="100"
        required
        ></textarea>
        <br><br>
        <input class ="submitCreate" id="create" type="submit" value="Post">
    </form>
{%endblock%}
