{%extends "base.html"%}
{%block title%}Create_Post{%endblock%}
{%block create1%}{%endblock%}
{%block create2%}{%endblock%}
{%block content%}
<form class = "write" style="text-align:center" method = "Post">
    <label for="author">Author</label><br><br>
     <input id ="auth"
      class="field"
      style ="width:200px;"
      type="text"
      name="author"
      placeholder="John Doe"
      pattern="[a-zA-Z0-9 ]+" 
      title="Author name must be at least 4 characters long and no special characters allowed"
      maxlength="20"
      minlength ="4"
      autofocus
      required
      oninput= InvalidAlert()>
        <br>
        <span id="invalid" style="color:red;"></span>
        <br>
      <br>
   <label for="title">Add a title(optional)</label><br><br>
     <textarea id ="description"
      class="field"
      type="text"
      name="title"
      rows="1" 
      cols="30"
      wrap="hard"
      text-align: left
      title="Title can be 50 characters long"
      maxlength="50"
      minlength = "4"
      placeholder = "no title..."
      required></textarea>
    <br><br>
    <strong><label for="post">What's on your mind?</label></strong><br><br>
    <textarea id ="postBox"
        name="post"
        rows="30"
        cols="70"
        placeholder="What's on your mind?"
        wrap="hard"
        minlength ="100"
        required
        ></textarea>
        <br><br>
        <input class ="submitCreate" id="create" type="submit" value="Post">
    </form>
{%endblock%}
